@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Online Voting System</h1>
    <img src="~/images/background.jpeg" />
    <p>Learn about <a href="https://eci.gov.in/">Election Commission of India</a>.</p>
</div>

