@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p class="align-text-bottom">Learn about <a href="https://eci.gov.in/website-policy/">Election Commission of India</a>.</p>
